#hero h1 {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

#hero button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

#hero button:hover,
#hero button:focus {
    background-color: #404bbf;
}

#hero {
    background-color: #2e2f42;
}